{% extends 'base.html' %}

{% block title %}
<title> Editar Perfil</title>
{% endblock title %}

{% block texto_header %}
<h1>
    Editando perfil de {{request.user.username}}
</h1>  
{% endblock texto_header %}

{% block despues_del_header %}

<p>
    <form action={% url 'editar_perfil' %} method="post" enctype="multipart/form-data">  
        {% comment %} el multipart va siempre que se trab con imgs {% endcomment %}
        {% csrf_token %}
        
        <table>{{form}}</table>
        <button>Editar</button>
    </form>
</p>
 
<p>
    <a href={% url 'cambiar_password' %}>Cambiar password</a>
</p>
{% endblock despues_del_header %}