{% extends 'base.html' %}

{% block title %}
<title>Crear Perros</title>
{% endblock title %}

{% block texto_header %}
<h1>Creacion de perro</h1> 
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <form action="" method="get">
        <p>
            Nombre:
            <input type="text" name="nombre">
        </p>
        <p>
            Edad:
            <input type="number" name="edad">
        </p>
        <button>Crear</button>
    </form>
</p>
{% endblock despues_del_header %}